Syllamap roadmap.json
{
  "name": "Syllamap",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-syllabus",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1780,
        -200
      ],
      "id": "f44f69d2-fb43-4b1a-b9df-bf39fb410d53",
      "name": "Pdf Upload Webhook",
      "webhookId": "967f4d9b-c435-42aa-871a-3838144bb89b",
      "notesInFlow": true,
      "notes": "Upload your syllabus copy in Pdf Format"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=file0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2040,
        -200
      ],
      "id": "a2f1c4ba-1ceb-41f1-a01e-0c64913d4493",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2320,
        -20
      ],
      "id": "6cfb5127-fc22-4127-afc4-fd7d966de425",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "RhvwbDUtjROgKVXr",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert academic planner. A student named, {{ $('Pdf Upload Webhook').item.json.body.name }} has uploaded a course syllabus and requested a personalized study roadmap.\n\nGo through the whole syllabus content and distribute the syllabus content into {{ $('Pdf Upload Webhook').item.json.body.weeks }} weeks. Dont miss out any topic .For each week, return:\n\n- `title`: a short, meaningful title\n- `topics`: list of topics to cover that week\n- `objectives`: what the student should achieve\n- `notes`: short study advice\n\nFormat your response as valid JSON in the following structure:\n\n{\n  \"roadmap\": [\n    {\n      \"week\": 1,\n      \"title\": \"string\",\n      \"topics\": [\"string\", ...],\n      \"objectives\": [\"string\", ...],\n      \"notes\": \"string\"\n    },\n    ...\n  ],\n}\n\nONLY return in given JSON Format. Do not add markdown, explaination or extra formatting.\n\nStudent Inputs:\n- Weeks: {{ $('Pdf Upload Webhook').item.json.body.weeks }}\n- Student Syllabus: {{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Format the Output in Structured Json format. "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2300,
        -220
      ],
      "id": "73b8f5b2-4177-49f2-ba23-a43dc85d0c0a",
      "name": "RoadMap Converter"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $json.text;\n\nconst res = JSON.parse(text)\n\nreturn res;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        -220
      ],
      "id": "fde0ca8f-5185-45d2-81d0-5b49b36cf03f",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2960,
        -220
      ],
      "id": "f81cead2-6945-4c22-b0bc-5748cc32d010",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Pdf Upload Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RoadMap Converter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "RoadMap Converter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RoadMap Converter": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "368e5968-d940-4be1-b23e-4ce7e78d9e81",
  "meta": {
    "instanceId": "489673ad9b2284aeb8535bdafe6e5c53f9a487d892765b3cc5132e9ec0df7852"
  },
  "id": "oeAYwf8gfRXAhUa0",
  "tags": []
}